div {
  text-align: justify;
  text-justify: inter-word;
}

body {
  background-image: url("figuras/rio_jamanxim.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.25em;
}

#TOC {
  position: fixed;
  left: 10px;
  top: 90px;
  width: 260px;
  height: 30%;
  overflow:auto;
}
