div {
  text-align: justify;
  text-justify: inter-word;
}

body {
  background-image: url("figuras/rio_jamanxim.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.25em;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: visible; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}